#def outfile: conf/$row.hostname/hosts
127.0.0.1	localhost $row.hostname

::1     localhost ip6-localhost ip6-loopback $row.hostname
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

#for $host in $data.hosts:
$host.ip $host.hostname $host.aliases
#end for
